body {
	background: $lightGray;
}

.typing {
	display: inline-block;

	&::after {
		content: ' |';
		animation: fade 1s linear infinite;
	}
}

.container {
	width: 100%;
	margin: 0 auto 80px auto;
	box-sizing: border-box;

	@each $key,
	$value in $breakpoints {
		@media only screen and (min-width: map-get($breakpoints, $key)) {
			width: map-get($container, $key);
			padding: 0;
		}
	}

	&--no-margin {
		margin-bottom: 0;
	}
}

.container-fluid {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;

	@each $key,
	$value in $breakpoints {
		@media only screen and (min-width: map-get($breakpoints, $key)) {
			padding: 0 map-get($containerPadding, $key);
		}
	}

	&--no-margin {
		margin: 0;
	}
}

section {
	z-index: 10;
}