@import '@styles/abstarcts/_variables.scss';
@import '@styles/abstarcts/_mixins.scss';

.portfolio {
	@include offset;

	&__header {
		position: relative;
	}

	&__icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 30px;
		height: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $darkGray;
		color: $white;
	}

	&__footer {
		padding: 30px 20px 20px 20px;
		text-align: center;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__grid {
		padding: 0 20px;

		@media only screen and (min-width: map-get($breakpoints, 'm')) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-gap: 30px;
			padding: 0;
		}

		@media only screen and (min-width: map-get($breakpoints, 'xl')) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
		background: $white;
		position: relative;
		margin-top: 30px;
		@include onHoverShadow;

		&:first-child {
			margin: 0;
		}

		@media only screen and (min-width: map-get($breakpoints, 'm')) {
			margin: 0;
		}

		@media only screen and (min-width: map-get($breakpoints, 'm')) and (max-width: map-get($breakpoints, 'xl')) {
			&:last-child {
				margin: 0 auto;
				width: 50%;
				grid-column: 1/-1;
			}
		}

		&--large {
			padding: 20px;
			text-align: center;
			min-height: 250px;
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media only screen and (min-width: map-get($breakpoints, 'm')) {
				grid-column: 2;
				grid-row: 1;
				min-height: auto;
			}

			@media only screen and (min-width: map-get($breakpoints, 'xl')) {
				grid-column: 3/5;
			}

			.portfolio__icon {
				bottom: 100%;
				position: absolute;
			}

			.portfolio__header {
				padding: 0;
				position: static;
			}

			.portfolio__footer {
				padding: 0;
			}
		}
	}

	&__heading {
		&--primary {
			margin-top: 0;
			position: relative;
		}

		&--uppercase {
			text-transform: uppercase;
		}

		&--secondary {
			text-transform: uppercase;
			color: $secondaryColor;
			font-weight: normal;
			padding-bottom: 5px;
			font-size: 0.75rem;
			margin-bottom: 0;
		}
	}

	&__paragraph {
		text-align: center;
		margin: 5px;
	}

	&__link {
		color: $headingBoldColor;
		cursor: pointer;
		transition-duration: 250ms;
		text-decoration: none;

		&::after {
			content: '';
			width: 50px;
			height: 2px;
			background: $darkGray;
			position: absolute;
			bottom: -5px;
			left: 50%;
			opacity: 0;
			transform: translateX(-50%);
			transition-duration: 250ms;
		}

		&--flex {
			display: inline-flex;
			margin-left: 5px;
			font-weight: bold;

			&::after {
				display: none;
			}
		}

		&-icon {
			margin: 0 5px;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
}
